<a href="https://colab.research.google.com/github/sikoh/BasicHTML-HM-Tables/blob/main/module1-exploratory-data-analysis/LS_DS_111_Exploratory_Data_Analysis_Assignment_ANSWERS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Autograded Notebook (Canvas & CodeGrade)

This notebook will be automatically graded. It is designed to test your answers and award points for the correct answers. Following the instructions for each Task carefully.

### Instructions

* **Download this notebook** as you would any other ipynb file
* **Upload** to Google Colab or work locally (if you have that set-up)
* **Delete `raise NotImplementedError()`**
* Write your code in the `# YOUR CODE HERE` space
* **Execute** the Test cells that contain `assert` statements - these help you check your work (others contain hidden tests that will be checked when you submit through Canvas)
* **Save** your notebook when you are finished
* **Download** as a `ipynb` file (if working in Colab)
* **Upload** your complete notebook to Canvas (there will be additional instructions in Slack and/or Canvas)

# Lambda School Data Science - Unit 1 Sprint 1 Module 1

## Exploratory Data Analysis

### Module Learning Objectives


- Load a CSV dataset from a URL using `pandas.read_csv`
- Load a CSV dataset from a local file using `pandas.read_csv
- Use basic Pandas functions for Exploratory Data Analysis-EDA
- Describe and discriminate between basic data types such as categorical, quantitative, continuous, discrete, ordinal, nominal and identifier

## Autograded Module Projects

Welcome to the first Module Project of Unit 1! You will complete a project (sometimes also referred to as an assignment) after the Guided Project for each Module. There will be four Module Projects per Sprint and each project is designed to provide you with an opportunity to practice what you learned in the Canvas Warm-up material and the Guided Project with your Instructors.

Throughout Unit 1, the Module Projects and the Sprint Challenges are *autograded*. You will complete your work in a Jupyter/Python notebook (the files that end with `.ipynb`) and then upload your completed notebook to Canvas and submit for grading. This autograded process will check your answers and provide more information about the errors in your notebook. You'll receive a score at the

So, let's get started! If you are reading this notebook, then you have the correct autograded version.

## Introduction

For this module, we learned how to use some of the most common tools for exploring our data. We'll continue to practice our `pandas` skills with a new dataset.

## Dataset Description

Explore the University of California - Irvine Adult Dataset

**Task 1** - Load a dataset via its URL

* Create a Python list named `column_headers` with the following items: `'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week','native-country', 'income'`
* Load the file from the URL provided below using the `column_headers` list you created to name your columns: set the `pd.read_csv()` parameter **names** to `column_headers`

In [43]:
# Task 1
import pandas as pd
import numpy as np

# URL for the dataset
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

# YOUR CODE HERE
column_headers = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week','native-country', 'income']

a = pd.read_csv(data_url, names = column_headers, na_values = ' ?')
adult = pd.DataFrame(data = a)
# Print out your DataFrame
adult.head(15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,NaN,>50K

**Task 1 Test**

In [18]:
# Task 1 - Test

# These tests are for you to check your work before submitting
assert isinstance(column_headers, list), 'Have you created a list of header names?'
assert len(column_headers) == 15, 'Did you include the correct number of items in the column_headers list?'
assert isinstance(adult, pd.DataFrame), 'Have you created a DataFrame named adult?'

# These tests will be completed when you submit your notebook for autograding

**Task 2** - Look at the first and last rows of the DataFrame

* Assign the first **ten (10)** rows of the `adult` DataFrame to `adult_head`
* Assign the last **ten (10)** rows of the `adult` DataFrame to `adult_tail`

In [20]:
# Task 2

# YOUR CODE HERE
adult_head = adult.head(10)

adult_tail = adult.tail(10)
# Optional: print out adult_head and adult_tail
print(adult_head)
print(adult_tail)

   age          workclass  fnlwgt   education  education-num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13
5   37            Private  284582     Masters             14
6   49            Private  160187         9th              5
7   52   Self-emp-not-inc  209642     HS-grad              9
8   31            Private   45781     Masters             14
9   42            Private  159449   Bachelors             13

           marital-status          occupation    relationship    race  \
0           Never-married        Adm-clerical   Not-in-family   White
1      Married-civ-spouse     Exec-managerial         Husband   White
2                Divorced   Handlers-cleaners   Not-in-family   White
3      Married-civ-spouse   Handlers-cleaners         Husband   Black
4      Married-civ-spouse      Prof-specialty            Wife   Black
5      Married-civ-spouse     Exec-managerial            Wife   White
6   Married-spouse-absent       Other-service   Not-in-family   Black
7      Married-civ-spouse     Exec-managerial         Husband   White
8           Never-married      Prof-specialty   Not-in-family   White
9      Married-civ-spouse     Exec-managerial         Husband   White

       sex  capital-gain  capital-loss  hours-per-week  native-country  income
0     Male          2174             0              40   United-States   <=50K
1     Male             0             0              13   United-States   <=50K
2     Male             0             0              40   United-States   <=50K
3     Male             0             0              40   United-States   <=50K
4   Female             0             0              40            Cuba   <=50K
5   Female             0             0              40   United-States   <=50K
6   Female             0             0              16         Jamaica   <=50K
7     Male             0             0              45   United-States    >50K
8   Female         14084             0              50   United-States    >50K
9     Male          5178             0              40   United-States    >50K
       age      workclass  fnlwgt      education  education-num  \
32551   32        Private   34066           10th              6
32552   43        Private   84661      Assoc-voc             11
32553   32        Private  116138        Masters             14
32554   53        Private  321865        Masters             14
32555   22        Private  310152   Some-college             10
32556   27        Private  257302     Assoc-acdm             12
32557   40        Private  154374        HS-grad              9
32558   58        Private  151910        HS-grad              9
32559   22        Private  201490        HS-grad              9
32560   52   Self-emp-inc  287927        HS-grad              9

            marital-status          occupation    relationship  \
32551   Married-civ-spouse   Handlers-cleaners         Husband
32552   Married-civ-spouse               Sales         Husband
32553        Never-married        Tech-support   Not-in-family
32554   Married-civ-spouse     Exec-managerial         Husband
32555        Never-married     Protective-serv   Not-in-family
32556   Married-civ-spouse        Tech-support            Wife
32557   Married-civ-spouse   Machine-op-inspct         Husband
32558              Widowed        Adm-clerical       Unmarried
32559        Never-married        Adm-clerical       Own-child
32560   Married-civ-spouse     Exec-managerial            Wife

                      race      sex  capital-gain  capital-loss  \
32551   Amer-Indian-Eskimo     Male             0             0
32552                White     Male             0             0
32553   Asian-Pac-Islander     Male             0             0
32554                White     Male             0             0
32555                White     Male             0             0
32556                White   Female             0             0
32557                White     Male             0             0
32558                White   Female             0             0
32559                White     Male             0             0
32560                White   Female         15024             0

       hours-per-week  native-country  income
32551              40   United-States   <=50K
32552              45   United-States   <=50K
32553              11          Taiwan   <=50K
32554              40   United-States    >50K
32555              40   United-States   <=50K
32556              38   United-States   <=50K
32557              40   United-States    >50K
32558              40   United-States   <=50K
32559              20   United-States   <=50K
32560              40   United-States    >50K

**Task 2 Test**

In [21]:
# Task 2 - Test

# These tests are for you to check your work before submitting
assert isinstance(adult_head, pd.DataFrame), 'Have you created a DataFrame named adult_head?'
assert isinstance(adult_tail, pd.DataFrame), 'Have you created a DataFrame named adult_tail?'

# These tests will be completed when you submit your notebook for autograding

**Task 3** - Variable data types

For your `adult` DataFrame, determine the data types for the variables.

* Count the number of `int64` variable types and assign to `number_int64` (your value should be an integer)
* Count the number of `object` variable types and assign to `number_object` (your value should be an integer)

There are different ways to find the data types of the columns in a DataFrame. All you need to do for this task is to count the number of each data type and assign to the corresponding variable.

In [32]:
# Task 3

# YOUR CODE HERE
number_int64 = adult.dtypes.value_counts().int64
print(number_int64)

number_object = adult.dtypes.value_counts().object
print(number_object)

6
9

**Task 3 Test**

In [29]:
# Task 3 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 4** - DataFrame dimensions

* Find the dimensions of your DataFrame and assign result to the variable `adult_dimension`. Your variable should be a *tuple* and the row dimension should be listed first.

Hint: A tuple looks like this: (1, 2) - a tuple is a collection which is ordered and unchangeable. You can use the function `type(your_variable)` to print the variable type.

Hint 2: The `shape` method returns a tuple - convenient!

In [35]:
# Task 4

# YOUR CODE HERE
adult_dimension = adult.shape

# Print out the shape
print(adult_dimension)

(32561, 15)

**Task 4 Test**

In [36]:
# Task 4 - Test

assert isinstance(adult_dimension, tuple), 'Have you created a tuple named adult_dimension?'

# Hidden tests - you will see the results when you submit to Canvas

**Task 5** - Missing values

Are there any missing values in the dataset? Let's check!

* Check for missing values using `.isnull().sum()`
* Count the number of missing values and assign the value to the variable `adult_missing`. Your variable should be an integer.

In [44]:
# Task 5

# YOUR CODE HERE
adult_missing = adult.isnull().sum()
print(adult_missing)

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

**Task 5 Test**

In [45]:
# Task 5 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 6** - Viewing DataFrame statistics

Let's look at some of the *summary statistics* of our dataset. We can use the .describe() function in order to see the summary statistics of the numeric columns.

Look at the statistics for the `adult` DataFrame and then complete the following two tasks:

* Find the value for the mean `age` and assign it to the variable `mean_age` (your value should be a float and defined to two decimal places)
* Find the standard deviation (std) for the `hours-per-week` variable and assign it to `std_hpw` (your value should be a float and defined to two decimal places)

Are there any values shown that might be a code for missing data?  We'll learn how to change the values in a DataFrame in the next module.

In [57]:
# Task 6

# YOUR CODE HERE
adult.describe()
mean_age = adult['age'].mean().round(2)
print(mean_age)

std_hpw = adult['hours-per-week'].std().round(2)
print(std_hpw)

38.58
12.35

**Task 6 Test**

In [56]:
# Task 6 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 7** - Summary statis for non-numeric columns

We have some columns in this dataset that are non-numeric or object columns. This is usually a string objects. Let's use the `describe()` function again but include the argument `exclude='number)` to exclude the numeric columns.

Using the results of `describe(exclude='number')`, complete the following two tasks:

* Find the number of unique `education` values and assign it to `unique_edu` (your value should be an integer)
* Find the number of times the most frequent observation for `income` occurs and assign it to `freq_income` (your value should be an integer) *(Note: this is not the income value itself, just how many times it occurs)*

In [76]:
# Task 7

# YOUR CODE HERE
test = adult.describe(exclude='number')
unique_edu = test['education']['unique']
print(unique_edu)

freq_income = test['income']['freq']
print(freq_income)

16
24720

In [74]:
adult.describe(exclude='number')
adult['income'].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

**Task 7 Test**

In [77]:
# Task 7 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 8** - Finding value counts

Let's look more specifically at the `relationship` column and perform a count of the number of observations for each category. We can see how many categories we have by using the `.unique()` method on the column. Then, we can use `.value_counts()` to count the number of observations in each category.

* View the unique values in the `relationship` column with `.unique()`
* View the number of observations for each value with `.value_counts()`
* Find the counts for `Other-relative` and assign to the variable `adult_other_rel`

In [93]:
# Task 8

# YOUR CODE HERE

test['relationship'].unique()
test['relationship'].value_counts()
#adult_other_rel = test['Other-relative'].value_counts()

32561       1
6           1
 Husband    1
13193       1
Name: relationship, dtype: int64

**Task 8 Test**

In [91]:
# Task 8 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Task 9** - Create a Series

A column of a DataFrame is a pandas Series. Using the `adult` DataFrame, create a Series from the `occupation` column.

* Create a Series from the `occupation` column and name it `adult_occup`

In [96]:
# Task 9

# YOUR CODE HERE
adult_occup = pd.Series(adult['occupation'])
print(adult_occup)

0              Adm-clerical
1           Exec-managerial
2         Handlers-cleaners
3         Handlers-cleaners
4            Prof-specialty
                ...
32556          Tech-support
32557     Machine-op-inspct
32558          Adm-clerical
32559          Adm-clerical
32560       Exec-managerial
Name: occupation, Length: 32561, dtype: object

**Task 9 Test**

In [97]:
# Task 9 - Test

# These tests are for you to check your work before submitting
assert isinstance(adult_occup, pd.Series), 'Have you created the correct Series?'

# Hidden tests - you will see the results when you submit to Canvas

**Task 10** - Practice with a new dataset

Let's use some of what we've learned so far to load in a new dataset and answer some questions. For now, we're going to read in the data from the website where it is stored. But, at the end of this project, you can review the instructions for uploading a file to Google Colab,

* Use [this link (right click to copy)](https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/NASCAR/nascard.csv) as the URL and assign it to the variable `data_url2`
* Read in the data into a DataFrame called `nascar`; the CSV already includes a header

More information about this data can be found [here](https://github.com/LambdaSchool/data-science-practice-datasets/tree/main/unit_1/NASCAR).

In [100]:
# Task 10

# YOUR CODE HERE
data_url2 = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/NASCAR/nascard.csv'
d = pd.read_csv(data_url2)
nascar = pd.DataFrame(data = d)

**Task 10 Test**

In [101]:
# Task 10 - Test

# These tests are for you to check your work before submitting
assert isinstance(nascar, pd.DataFrame), 'Have you created the nascar DataFrame?'

# Hidden tests - you will see the results when you submit to Canvas

**Task 11** - Look at the header

Now, let's look at the data. We'll use the `.head()` method to view the first rows of the DataFrame

* Assign the output from `.head()` to a DataFrame called `nascar_head` (use the default values of the method)

In [105]:
# Task 11

# YOUR CODE HERE
nascar_head = nascar.head(15)
print(nascar_head)

    serRace  year  yearRace  finish  start  laps  prize  carsRace    carMake  \
0         1  1975         1       1      1   191  12035        35    Matador
1         1  1975         1       2      2   191   8135        35    Mercury
2         1  1975         1       3     25   184   6535        35  Chevrolet
3         1  1975         1       4     27   183   5035        35      Dodge
4         1  1975         1       5     22   178   3835        35       Ford
5         1  1975         1       6     35   175   2885        35  Chevrolet
6         1  1975         1       7      3   172   3185        35      Dodge
7         1  1975         1       8     21   168   2485        35  Chevrolet
8         1  1975         1       9     33   167   2335        35      Dodge
9         1  1975         1      10     10   166   2185        35  Chevrolet
10        1  1975         1      11     17   166   1985        35  Chevrolet
11        1  1975         1      12     24   148   1835        35  Chevrolet
12        1  1975         1      13      6   145   2235        35      Dodge
13        1  1975         1      14     28   142   1635        35  Chevrolet
14        1  1975         1      15     18   135   1535        35  Chevrolet

              driver
0       BobbyAllison
1       DavidPearson
2        CecilGordon
3         DaveMarcis
4        ElmoLangley
5        JamesHylton
6       RichardPetty
7       GaryMatthews
8            EdNegre
9     HershelMcGriff
10  RichardChildress
11      DonPuskarich
12          RayElder
13      J.D.McDuffie
14         LarryEsau

**Task 11 Test**

In [ ]:
# Task 11 - Test

# These tests are for you to check your work before submitting
assert isinstance(nascar_head, pd.DataFrame), 'Have you created the nascar_head DataFrame?'

# Hidden tests - you will see the results when you submit to Canvas

**Task 12** - Dataset description and variable types

Using your `nascar` DataFrame, answer the following questions. Remember - you can use methods like `describe()` and `info()` to print out information about the variable types in your DataFrame. Remember, you can use `describe(exclude='number')` to view non-numeric variable types.

You can view more information about the data [here](http://users.stat.ufl.edu/~winner/data/nascard.txt).

These questions are **not autograded** but are part of the project!

Answer the following questions for these variables: `prize`, `carMake`, `driver`

*   Is the variable categorical or quantitative?
*   If the variable is categorical, determine if it is ordinal, nominal or an identifier variable.
*   If the variable is quantitative, determine if it is continuous or discrete.

**Task 12 Short Answer**

* `prize`: YOUR ANSWER
* `carMake`: YOUR ANSWER
* `driver`: YOUR ANSWER

In [ ]:
# Task 12

# Ignore the YOUR CODE HERE for this cell
# YOUR CODE HERE
raise NotImplementedError()

**Extra Practice!!**

Now we're going to practice loading a dataset that you have saved on your computer. Since we're working in a notebook on Google Colab, you'll need to upload your file to the notebook runtime in order to read in the data.

* Use [this link](https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/NASCAR/nascard.csv) to download your dataset as a csv file to your computer.
* Upload to Google Colab one of two ways:
    * using `from google.colab import files` then `uploaded = files.upload()`; read in the file with pd.read_csv(filename)
    * using the file upload feature in the left side panel of the Colab notebook; read in the file with pd.read_csv(filename)

More information about this data can be found [here](https://github.com/LambdaSchool/data-science-practice-datasets/tree/main/unit_1/NASCAR).

**DELETE or COMMENT OUT your Colab code**

In [ ]:
# Extra Practice

## DELETE OR COMMENT OUT YOUR COLAB CODE BEFORE SUBMITTING THE NOTEBOOK